<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1 class="pb-5 pt-5">Home</h1>
  <div class="list-group">
    <a href="/stock" class="list-group-item">Stock</a>
    <a href="/customers" class="list-group-item">Customers</a>
    <a href="orders/createOrder" class="list-group-item">Create Order</a>
    <a href="#" class="list-group-item">Orders</a>
  </div>
</div>

</body>
</html>
